<div>
    <h2 id="page-heading">
        <span jhiTranslate="talkingNewsBackendApp.feed.home.title">Feeds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feed" [routerLink]="['/feed/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="talkingNewsBackendApp.feed.home.createLabel">
            Create new Feed
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="feeds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="talkingNewsBackendApp.feed.category">Category</span></th>
            <th><span jhiTranslate="talkingNewsBackendApp.feed.feedUrl">Feed Url</span></th>
            <th><span jhiTranslate="talkingNewsBackendApp.feed.newsPaper">News Paper</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let feed of feeds ;trackBy: trackId">
                <td><a [routerLink]="['/feed', feed.id, 'view' ]">{{feed.id}}</a></td>
                <td>{{feed.category}}</td>
                <td>{{feed.feedUrl}}</td>
                <td>
                    <div *ngIf="feed.newsPaper">
                        <a [routerLink]="['../news-paper', feed.newsPaper?.id, 'view' ]" >{{feed.newsPaper?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/feed', feed.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feed', feed.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'feed', { outlets: { popup: feed.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
