<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feed">
            <h2><span jhiTranslate="talkingNewsBackendApp.feed.detail.title">Feed</span> {{feed.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="talkingNewsBackendApp.feed.category">Category</span></dt>
                <dd>
                    <span>{{feed.category}}</span>
                </dd>
                <dt><span jhiTranslate="talkingNewsBackendApp.feed.feedUrl">Feed Url</span></dt>
                <dd>
                    <span>{{feed.feedUrl}}</span>
                </dd>
                <dt><span jhiTranslate="talkingNewsBackendApp.feed.newspaper">Newspaper</span></dt>
                <dd>
                    <div *ngIf="feed.newspaper">
                        <a [routerLink]="['/newspaper', feed.newspaper?.id, 'view']">{{feed.newspaper?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feed', feed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
